@import '../includes/mixins';
@import '../includes/tokens';

.contact {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  gap: var(--space-xl, 2rem);
  color: var(--color-text-secondary);

  &__container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    gap: var(--space-lg, 1.5rem);
    margin-block: var(--space-v-large, 5vh);
    padding: var(--space-md, 1rem);
    border-radius: var(--radius-md);
    @media (min-width: $breakpoint-mobile) {
      grid-column: 2 / -2;
    }

    h2 {
      grid-column: 1 / -1;
      font-size: var(--font-size-lg, 1.75rem);
      font-weight: var($font-weight-bold);
      text-align: start;
      margin-bottom: 0;


      @media (min-width: $breakpoint-tablet) {
        grid-column: 2 / -2;
      }

      @media (min-width: $breakpoint-laptop) {
        grid-column: 1 / -10;
        grid-row: 1;
        text-align: unset;
      }

      span{
        color: var(--color-text-tertiary);
        font-weight: var($font-weight-bold);
      }
    }

    p{
      grid-column: 1 / -1;
      grid-row: 2;
      margin: 0;

      @media (min-width: $breakpoint-tablet) {
        grid-column: 1 / -8;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    gap: var(--space-xl, 2rem);
  }

  &__form {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-row: 2;
    gap: var(--space-md, 1rem);

    @media (min-width: $breakpoint-tablet) {
      grid-column: 2 / -2;
    }

    @media (min-width: $breakpoint-laptop) {
      grid-column: 1 / -8;
      grid-row: 1;
    }

    &.forms {
      label,
      input,
      textarea {
        grid-column: 1/-1;
        block-size: 1rem;
        padding: 1rem;
      }

      .buttons {
          display: flex;
          justify-content: center;
          grid-column: 1 / -1;
          block-size: var(--button-height, 2rem);
          border-radius: var(--radius-sm);
          transition: background-color var(--transition-medium) ease, transform var(--transition-fast) ease, box-shadow var(--transition-fast) ease;
          &:hover {
            background-color: var(--color-secondary-hover);
            transform: scale(1.05);
            box-shadow: var(--shadow-md);
          }

          &__content {
            inline-size: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: var(--color-primary-default);
            color: var(--color-text-primary);
            border-radius: var(--radius-sm);
            transition: background-color var(--transition-medium) ease, transform var(--transition-fast) ease, box-shadow var(--transition-fast) ease;
            &:hover {
              background-color: var(--color-secondary-hover);
              transform: scale(1.01);
              box-shadow: var(--shadow-md);
            }

          }
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-row: 1;
    gap: var(--space-md, 1rem);

    @media (min-width: $breakpoint-tablet) {
      grid-column: 2 / -2;
    }

    @media (min-width: $breakpoint-laptop) {
      grid-column: 6 / -1;
      grid-row: 1;
    }

    h3 {
      grid-column: 1 / -1;
      margin: 0;
    }

    p {
      grid-column: 1 / -1;
      grid-row: 3;
      margin-block-start: 0;
    }

    iframe {
      grid-column: 1 / -1;
      width: 98%;
      height: var(--iframe-height, 300px);
      border: var(--border-width, 2px) solid var(--color-text-secondary);
    }
  }
}
