@import '../includes/mixins';
@import '../includes/tokens';

.textblock-media {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  padding: var(--space-md, 1rem);


  &__container {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    margin-block: var(--space-v-large, 5vh);

    @media (min-width: $breakpoint-mobile) {
      grid-column: 2 / -2;
    }
  }

  &__heading {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;

    @media (min-width: $breakpoint-mobile) {
      grid-column: 2 / -2;
      max-inline-size: 100%;
    }

    @media (min-width: $breakpoint-tablet) {
      grid-column: 1 / -10;
      grid-row: 1 / -2;
      max-inline-size: 100%;
    }

    @media (min-width: $breakpoint-laptop) {
      grid-column: 1 / -7;
    }

    h1 {
      inline-size: 35rem;

      @media (min-width: $breakpoint-desktop) {
        inline-size: 100%;
      }
    }
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 3;

    @media (min-width: $breakpoint-mobile) {
      grid-column: 2 / -2;
    }

    @media (min-width: $breakpoint-laptop) {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -7;
      grid-row: 1;
    }

    &.--left {
      .buttons {
        display: flex;
        justify-content: center;
        inline-size: 10rem;
        block-size: 3rem;
        background: var(--color-primary-default);
        color: var(--color-text-primary);
        border-radius: var(--radius-sm);
        transition: var(--transition-slow) background-color ease-in-out, var(--transition-medium) border-color ease-in-out, var(--transition-medium) box-shadow ease-in-out;
        font-size: var(--font-size-sm);

        &:hover {
          background-color: var(--color-secondary-hover);
          transform: scale(1.05);
          box-shadow: var(--shadow-md);
        }

        &__content {
          inline-size: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        &__button {
          background-color: var(--color-primary-default);
          color: var(--color-text-primary);
          border: none;
          cursor: pointer;
          display: flex;
          inline-size: var(--button-inline, 6.875rem);
          block-size: var(--button-block, 2.1875rem);
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
  }

  &__text {
    max-inline-size: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    p {
      max-inline-size: 35rem;
      grid-column: 1 / -1;
    }
  }

  &__media {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint-laptop) {
      grid-column: 7 / -1;
      grid-row: 2 / -2;
    }
  }

  &__image {
    max-block-size: 35rem;
    max-inline-size: 35rem;
    inline-size: 100%;

    img {
      inline-size: inherit;
      block-size: inherit;
      border-radius: var(--radius-md);
    }
  }
}
