.textblock-media {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: subgrid;

  &__container {
    display: grid;
    grid-column: 2/-2;
    grid-template-columns: subgrid;
  }

  &__content {
    grid-column: 2/7
  }

  &__media {
    display: flex;
    grid-column: 7/13;
    justify-content: center;
    align-items: center;
  }

  &__image{
    max-block-size: 35rem;
    max-inline-size: 35rem;
    inline-size: 100%;

    img{
      inline-size: inherit;
      block-size: inherit;
    }
  }

  &.__left{
    .buttons{

    }
  }
}