* {
    font-family: "Be Vietnam Pro", sans-serif;
}

html {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 14pt;
    color: var(--text-secondairy);
    background-color: var(--bg-white);
    margin: 0;
    padding: 0;
}

/* Admin */
.villadmin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.villadmin .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--primary-default);
    color: var(--text-primary);
    padding: 1rem;
    width: fit-content;
    height: 100vh;
}

.villadmin .sidebar h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 0.02rem solid var(--text-primary);
}

.villadmin .sidebar span {
    text-decoration: underline;
}

.villadmin .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.villadmin .sidebar ul li {
    margin-bottom: 1rem;
}

.villadmin .sidebar ul li a {
    color: var(--text-primary);
    background-color: var(--primary-inactive);
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 0.04rem solid var(--text-primary);
    border-radius: var(--border-radius);
    box-shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.25);
}

.villadmin .sidebar ul li:last-child a {
    margin-top: 1rem;
    float: inline-start;
    background-color: var(--primary-default);
}

.villadmin .sidebar ul li:last-child {
    border-top: 0.02rem solid var(--text-primary);
}

.villadmin .content {
    padding: 1rem;
    width: calc(100% - 2rem);
}

.villadmin header.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.villadmin header.search input[type="text"] {
    padding: 0.5rem;
    border: 0.02rem solid var(--text-tertairy);
    border-radius: var(--border-radius);
    width: 100%;
}

.villadmin header.search button {
    width: 15%;
    padding: 0.5rem;
    border: 0.02rem solid var(--text-tertairy);
    border-radius: var(--border-radius);
    background-color: var(--text-tertairy);
    color: var(--text-primary);
    margin-left: 1rem;
}

.villadmin header.search button:first-child {
    width: 10%;
}


.villadmin .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.villadmin .cards .card {
    background-color: var(--bg-white);
    color: var(--text-secondairy);
    text-decoration: none;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.25);
    width: calc(25% - 1rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.villadmin .cards .card h2 {
    font-size: 1rem;
    margin: 0;
}

.villadmin .cards .card p {
    font-size: 0.8rem;
    margin: 0;
}

.villadmin .cards .card img {
    width: 20%;
    height: auto;
    border-radius: var(--border-radius);
}

.villadmin .cards .card button {
    padding: 0.5rem;
    border: 0.02rem solid var(--text-tertairy);
    border-radius: var(--border-radius);
    background-color: var(--text-tertairy);
    color: var(--text-primary);
    margin-top: 1rem;
}

/* login */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login form {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    padding: 4rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.25);
    width: 30%;
}

.login form h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 0.02rem solid var(--text-tertairy);
    width: 100%;
}

.login form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.login form input[type="text"],
.login form input[type="password"] {
    padding: 0.5rem;
    border: 0.02rem solid var(--text-tertairy);
    border-radius: var(--border-radius);
    width: calc(100% - 1rem);
    margin-bottom: 1rem;
}

.login form button {
    margin: 1rem auto 0 auto;
    padding: 0.5rem;
    border: 0.01rem solid var(--text-tertairy);
    border-radius: var(--border-radius);
    background-color: var(--text-tertairy);
    color: var(--text-primary);
    width: 30%;
}


/* Main Page */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0rem 0.16rem;
    gap: 0rem 0.16rem;
    grid-auto-flow: row;
}