.textblock-media {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: subgrid;
}
.textblock-media__container {
  display: grid;
  grid-column: 2/-2;
  grid-template-columns: subgrid;
}
.textblock-media__content {
  grid-column: 2/7;
}
.textblock-media__content.--left .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textblock-media__media {
  display: flex;
  grid-column: 7/13;
  justify-content: center;
  align-items: center;
}
.textblock-media__image {
  max-block-size: 35rem;
  max-inline-size: 35rem;
  inline-size: 100%;
}
.textblock-media__image img {
  inline-size: inherit;
  block-size: inherit;
}