:root {

  /* grid-container-tokens */

  --container-min-space: 1rem;
  --container-columns: 12;
  --container-width: 83.75rem;
  --container-gutter: 1rem;

  /* colors */
  --primary-default: #DA251D;
  --primary-hover: #A5342F;
  --primary-inactive: #EB7A75;

  --secondairy-default: #FFCC00;
  --secondairy-hover: #C5A527;
  --secondairy-inactive: #E1D08A;

  --tertairy-default: #006A4E;
  --tertairy-hover: #183930;
  --tertairy-inactive: #4EAC93;

  --bg-default: #F5E6CC;
  --bg-white: #FBFBFB;

  --text-primary: #fff;
  --text-secondairy: #000;
  --text-tertairy: #DA251D;
  /* misc */
  --border-radius-5: 0.3125rem;
  --border-radius-10: 0.625rem;
  --border-radius-15: 0.9375rem;

  /* typography */
    --font-size-sm: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 2.5rem;

  /* breakpoints */

  $breakpoint-mobile: 30rem;
  $breakpoint-tablet: 48rem;
  $breakpoint-laptop: 61.25rem;
  $breakpoint-desktop: 112.5rem;
}